<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Continued</title>
</head>
<style>
    ul{
        list-style-type: circle;
    }
    ol{
        list-style-type:upper-alpha;
    }
    table{
        width: 50%;
    }
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }
    td{
        text-align: center;
    }
    th{
        background-color: rgb(3, 3, 77);
        color:white
    }
</style>
<body>
    <p>Name of Cars</p>
    <ol>
        <li>Toyota</li>
        <li>Mercedes</li>
        <li>Volkswagen</li>
        <li>Lexus</li>
    </ol>
    <p>Name of Cars</p>
    <ul>
        <li>Toyota</li>
        <li>Mercedes</li>
        <li>Volkswagen</li>
        <li>Lexus</li>
    </ul>
    <table>
        <tr>
            <th>SN</th>
            <th>FULLNAME</th>
            <th>ADDRESS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Victory Ebere</td>
            <td>Nigeria</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joy Chidinma</td>
            <td>Ghana</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Abba Chiroma</td>
            <td>Rwanda</td>
        </tr>
    </table>

    <input style="margin:20px 0px 10px 0px;border:2px solid red; font-size: large;padding: 10px;border-radius: 10px;color: blue;" type="checkbox"/>
</body>

</html>