<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouting</title>
</head>
<style>
    /* 
    
    
        Layouting

            1. Block Layout
            2. Flex Layout {Horizontal & Vertical}
            3. Grid Layout
            4. Absolute/Overlay
            5. Relative
            6. Sticky
    
    
    */
    .flex-layout{
        display:flex;
        flex-wrap: wrap;
    }
</style>
<body>
    <div class="flex-layout">
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
        <p style="max-width: 200px;background-color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur adipisci assumenda architecto facere optio deserunt? At facere harum a! Voluptatibus facere maxima repudiandae quasi beatae, amet perspiciatis eos distinctio quia?</p>
    </div>
</body>
</html>