<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
div{
    color:white
}
</style>
<body>
    <!-- <div>
        <div style="background-color: orange;width: 200px;height:200px;position: absolute;margin-left: 0px;">3</div>
        <div style="background-color: red;width: 200px;min-height:200px;position: absolute;margin-left: 30px;">2</div>
        <div style="background-color: blue;width: 200px;height:200px;position: absolute;margin-left: 60px;">1</div>
    </div> -->
    <!-- <div>
        <div style="background-color: orange;width: 200px;height:200px;position: relative;top:50px;left:100px">3</div>
        <div style="background-color: red;width: 200px;min-height:200px;position: relative;">2</div>
        <div style="background-color: blue;width: 200px;height:200px;position: relative;">1</div>
    </div> -->
    <div>
        <div style="background-color: orange;width: 200px;height:100px;position: sticky;top:0px;left:0px">3</div>
        <div style="background-color: red;width: 200px;min-height:200px;">2</div>
        <div style="background-color: blue;width: 200px;height:200px;">1</div>
        <div style="background-color: red;width: 200px;min-height:200px;">2</div>
        <div style="background-color: blue;width: 200px;height:200px;">1</div>
        <div style="background-color: red;width: 200px;min-height:200px;">2</div>
        <div style="background-color: blue;width: 200px;height:200px;">1</div>
    </div>
</body>
</html>